################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GroupDetailList/.vs
/GroupDetailList/node_modules
/GroupDetailList/obj
/GroupDetailList/out/controls/GroupDetailListControl
